plugin: vmware_vm_inventory
strict: False
hostname: vcsa.local.lan
username: administrator@vsphere.local
password: HIDDEN
validate_certs: False
with_path: yes
properties:
  - 'config.name'
  - 'guest.ipAddress'
  - 'guest.toolsVersionStatus'
  - 'runtime.powerState'
  - 'config.guestId'
  - 'guest.hostName'
  - 'guest.guestFamily'
  - 'guest.ipStack'
hostnames:
  - 'config.name+"."+guest.ipStack.0.dnsConfig.domainName'
  - 'config.name'
filters:
  - runtime.powerState == "poweredOn"
resources:
  - folder:
    - Linux
compose:
  ansible_host: guest.ipAddress
  ansible_user: "ansible"
  ansible_connection: "ssh"

  folder: path.split('/')[-1]
# groups:
#   tools: guest.toolsVersionStatus == 'guestToolsCurrent'
keyed_groups:
  - key: folder
    separator: ""
    # prefix: folder
# - key: summary.runtime.powerState
#   separator: ''
